
.FormArray {
  padding: 18px 12px 0 12px;
  input{
    cursor: default;
  }
  :global {
    .ant-badge{
     // width: 100%;
    }
    .ant-form-item-no-colon{
      cursor: pointer;
      &:hover{
        color: #0DB3A6;
      }
    }
    .ant-form-item {
      margin-bottom: 12px;
    }
  }
  .closeIcon {
    color: #f5222d;
    cursor: pointer;
  }
  .colDom {
    :global {
    }
  }
}
